
.settings{
    margin: 40% 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 5%;
}
ion-input{
    background: rgba(128, 128, 128, 0.26);
    width: 200px;
    position: absolute;
    right: 0;
}
ion-list{
    background: none;
}
ion-list ion-item{
    background: none;
    --background: none;
}